on: push

jobs:
  build-job:
    name: Build
    runs-on: ubuntu-latest
    steps:
        - name: Get Opam
          run: |
            apt install opam
            opam init
            eval $(opam env)

        - name: Get Dune
          run:
            opam install dune

        - name: build
          run:
            dune build

        - name: Upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: taint
            path: _build/default/bin/main.exe
