on: push

jobs:
  build-job:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, arm64]
    steps:
        - uses: actions/checkout@v5

        - name: Get Opam
          run: |
            sudo sh <(curl -fsSL https://opam.ocaml.org/install.sh)
            opam init
            eval $(opam env)

        - name: Get Dune
          run:
            opam install dune

        - name: build
          run: |
            eval $(opam env)
            dune build

        - name: Upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: taint
            path: _build/default/bin/main.exe
