on: push

jobs:
  build-job:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
        - uses: actions/checkout@v5

        - name: Set-up OCaml
          uses: ocaml/setup-ocaml@v3
          with:
            ocaml-compiler: 5

        - name: Get Dune
          run:
            opam install dune

        - name: build
          run: |
            eval $(opam env)
            dune build

        - name: Upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: taint-${{ matrix.arch }}
            path: _build/default/bin/main.exe
